*{
	font-family: 'Quicksand', sans-serif;
}
/*.jumbotron{
	width: 32em 15rem;
	background-color: #a6aeba;
	margin-top: 3em;
}*/

a{
 text-decoration: none;
}

.my-bg{
	background-color: #c3d47b;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	 .bd-placeholder-img-lg {
	  font-size: 3.5rem;
	}
}

@media (max-width: 768px) {
	.table{
		font-size: 12px;

	}
}
